node_modules

output
out
dist
*.tgz

coverage
*.lcov
*.diff

logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

.env
.env.development.local
.env.test.local
.env.production.local
.env.local

.eslintcache
.cache
*.tsbuildinfo
.idea
.DS_Store

tei_dtd/
eebo-tei/
texts/
eebo-data/
faiss-cache/

docs/**/*.png
docs/**/*.svg
docs/output/*
docs/uml/lib/plantuml*.jar

__pycache__
python/macberth_env/
python/test_output/
python/src/macberth_pipe.egg-info/
python/lib/
out/
out_old/
faiss_cache/
cache/
*.zip
python/lib/macberth-huggingface/pytorch_model.bin
vard_outupt
.mypy_cache
.ruff_cache
eebo_all
db-backup/
python/tmp/
tmp/
temp/
