/** biome-ignore-all lint/complexity/noImportantStyles: <BeerCSS overrides> */

/* Allow autocomplete to act as a title */

.field.label.title {
	input[type="text"] {
		line-height: 0 !important;
		padding: 0 !important;
		margin: 0 !important;
	}
	label {
		margin-left: -1em !important;
	}
	i {
		margin-right: -0.5em !important;
	}
}
