.concept-clusters {
    caption.with-nav {
        display: flex;
        width: 100%;

        .left {
            background-color: red;
        }

        .right {
            background-color: blue;
        }
    }
}