.year-timeilne {
    gap: 0;

    button.year {
        width: 12px;
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        cursor: crosshair;
        border-radius: 0;

        .year-data {
            width: 8px;
            border-radius: 0;

        }

        &:hover {
            background-color: var(--on-primary) !important;
        }
    }

}

#giant-year-range {
    font-size: 48pt;
    font-weight: 900;
    position: fixed;
    bottom: 12pt;
    right: 12pt;
    opacity: 0.3;
    pointer-events: none;
}