#UmapPlot {
    inset: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .fill,
    .fill:not(i) {
        background: unset !important;
    }

    canvas {
        inset: 0;
        width: 100%;
        height: 100%;
        background: #0d0d0f;
        cursor: crosshair !important;
    }
}