-r torch_cpu.txt
transformers
datasets
tqdm
beautifulsoup4
xmltodict
fasttext-wheel
matplotlib
seaborn
psycopg
pyright
mypy
ruff
lxml
psycopg-binary
types-tqdm
scikit-learn-stubs
Levenshtein
faiss-cpu
flask
flask-cors
waitress
nltk