aiohappyeyeballs
aiohttp
aiosignal
annotated-doc
annotated-types
anyio
attrs
backports.zstd
beautifulsoup4
blas
blinker
brotli-python
bzip2
ca-certificates
cairo
catalogue
certifi
charset-normalizer
click
cloudpickle
colorama
confection
contourpy
cpuonly
cpython
cycler
cymem
cython-blis
dash
dataclasses
datasets
dill
en-core-web-sm
exceptiongroup
expat
faiss
faiss-cpu
fasttext-wheel
filelock
flask
flask-cors
font-ttf-dejavu-sans-mono
font-ttf-inconsolata
font-ttf-source-code-pro
font-ttf-ubuntu
fontconfig
fonts-conda-ecosystem
fonts-conda-forge
fonttools
freeglut
freetype
fribidi
frozenlist
fsspec
getopt-win32
gmp
gmpy2
graphite2
graphviz
gts
h11
h2
harfbuzz
hdbscan
hf-xet
hpack
httpcore
httpx
huggingface-hub
huggingface_hub
hyperframe
icu
idna
importlib-metadata
intel-openmp
itsdangerous
jinja2
joblib
jpeg
kiwisolver
langcodes
language-data
lerc
levenshtein
libabseil
libdeflate
libexpat
libfaiss
libffi
libfreetype
libfreetype6
libgd
libglib
libhwloc
libiconv
libpng
libprotobuf
librt
libsentencepiece
libtiff
libuv
libwebp
libwebp-base
libwinpthread
libxml2
libzlib
llvm-openmp
llvmlite
lxml
marisa-trie
markdown-it-py
markupsafe
matplotlib
mdurl
mkl
mkl-service
mkl_fft
mkl_random
mpc
mpfr
mpmath
multidict
multiprocess
murmurhash
mypy
mypy-extensions
narwhals
nest-asyncio
networkx
nltk
nodeenv
numba
numpy
numpy-base
openssl
packaging
pandas
pango
pathspec
pathy
pcre2
pillow
pip
pixman
plotly
preshed
propcache
psycopg
psycopg-binary
pyarrow
pybind11
pydantic
pydantic-core
pygments
pynndescent
pyparsing
pyright
pysocks
python
python-dateutil
python-gil
python_abi
pytorch-mutex
pyyaml
rapidfuzz
regex
requests
retrying
rich
ruff
safetensors
scikit-learn
scikit-learn-stubs
scipy
seaborn
sentencepiece
sentencepiece-python
sentencepiece-spm
setuptools
shellingham
six
smart_open
sniffio
soupsieve
spacy
spacy-legacy
spacy-loggers
sqlite
srsly
sympy
tbb
thinc
threadpoolctl
tk
tokenizers
torch
tqdm
transformers
typer
typer-slim
types-requests
types-tqdm
typing-extensions
typing-inspection
typing_extensions
tzdata
ucrt
ujson
umap-learn
urllib3
vc
vc14_runtime
vs2015_runtime
waitress
wasabi
werkzeug
wheel
win_inet_pton
xmltodict
xxhash
xz
yaml
yarl
zipp
zlib
zstd
