.ngCenter {
    opacity: 0.5;
}

.ngCenterText,
.ngCenterTextSmall {
    stroke: black;
    stroke-width: 1px;
    fill: white;
    font-weight: 900;
    text-transform: uppercase;
    text-anchor: middle;
}

.ngCenterText {
    font-size: 150%;
    font-weight: 900;
}

.ngCenterTextSmall {
    font-size: 100%;
    stroke: none;
    font-weight: 400;
}

.ngPoint {
    /* fill: var(--tertiary); */
    opacity: 0.35;
}

.ngPointText {
    opacity: 100%;
}

.ngPointText,
.ngPointTextSmall {
    fill: var(--on-surface, white);
    font-size: 12pt;
    font-weight: normal;
    pointer-events: none;
    text-anchor: middle;
}

.ngPointTextSmall {
    font-size: 8pt;
    font-weight: 100;
    opacity: 50%;
}