.ngCenter {
    opacity: 0.5;
}

.ngCenterText,
.ngCenterTextSmall {
    fill: white;
    font-weight: 900;
    stroke: black;
    stroke-width: 1px;
    text-transform: uppercase;
    text-anchor: middle;
}

.ngCenterText {
    font-size: 150%;
}

.ngCenterTextSmall {
    font-size: 80%;
}

.ngPoint {
    /* fill: var(--tertiary); */
    opacity: 0.35;
}

.ngPointText {
    fill: var(--on-surface, white);
    font-size: 12pt;
    pointer-events: none;
    text-anchor: middle;
}