#app-nav.small a span {
    display: none !important;
}

#app-nav.full a {
    padding-left: 2.5em !important;
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
    border-radius: 0 !important;
    align-self: flex-start;
}

#app-nav a.active {
    font-weight: bold;
    color: var(--primary) !important;
}