:root {
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


article {
  opacity: 1;
  transition: all 222ms ease-in-out;
  filter: none;
}

svg {
  outline: none !important;
}

.throbbing {
  animation: throbbingOpacity 5s ease-in-out infinite;
}

@keyframes throbbingOpacity {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}