@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&family=IM+Fell+English:ital@0;1&display=swap");
@import url("./fonts.css");

:root {
  color-scheme: dark;
  color: rgba(143, 74, 74, 0.87);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slider.tiny {
  --_thumb: 1.5rem !important;
}

html,
body,
:root,
#root {
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

body {
  overflow: hidden;
}

#root {
  /* display: flex; */
  height: 100vh;
  overflow: hidden;
}

caption {
  font-weight: 100 !important;
  font-size: 66%;
  text-transform: uppercase;
  opacity: 80%;
  border-bottom: 0.25pt dotted var(--inverse-surface);
  margin: 0 20%;
}

.s9 {
  flex: 1;
  overflow: hidden;
}

.s3 {
  width: 320px;
  overflow-y: auto;
  height: 100%;
}

.grid,
main,
.s9,
.s3 {
  min-height: 0;
}

.helpContainer {
  z-index: 100;
  width: 32rem;
  height: 100%;
  overflow-y: hidden;
  position: absolute;
  right: 0;
  scrollbar-gutter: stable;
}

.helpContainer:hover,
.helpContainer:focus-within {
  overflow-y: auto;
}

.slide-fade-enter-active,
.slide-fade-exit-active {
  transition:
    opacity 250ms ease,
    transform 250ms ease;
}

.slide-fade-enter,
.slide-fade-exit-to {
  opacity: 0;
  transform: translateX(+50rem);
}

.slide-fade-enter-to,
.slide-fade-exit {
  opacity: 1;
  transform: translateX(0);
}

mark {
  background-color: aqua;
  color: black;
  padding: 0.1em 0.2em;
}

.scroll-parent {
  height: 90%;
  display: flex;
  flex-direction: column;
}

.fade-in-1s {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* BeerCSS resets */
.field {
  --_input: 1rem;
}

q,
blockquote {
  border-left: none;
  font-family: Junicode !important;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;

  q {
    font-size: 2.3rem;
  }
}

h3 {
  font-size: 1.4rem;
}

h4,
h5,
h6 {
  font-size: 1.2rem;
}

pre,
code,
.mono {
  font-family: ui-monospace,
    Menlo, Monaco,
    "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono",
    "Oxygen Mono",
    "Ubuntu Mono",
    "Source Code Pro",
    "Fira Mono",
    "Droid Sans Mono",
    "Consolas", "Courier New", monospace !important;
}


/* shared layouts */
#graph_sidebar_row {
  position: relative;
  display: flex;
  flex: 1;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#under_sidebar {
  position: relative;
  overflow: hidden;
  flex: 1;
  height: 100%;
}

#sidebar_container {
  z-index: 99;
  position: absolute;
  right: 0;
  max-width: 20vw;
  min-width: 20rem;
}