:root {
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
:root,
#root {
  height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}

body {
  overflow: hidden;
}

#root {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

nav.left {
  width: 280px;
  overflow-y: auto;
  height: 100%;
}

main {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.grid {
  display: flex;
  flex: 1;
  overflow: hidden;
  width: 100%;
}

.s9 {
  flex: 1;
  overflow: hidden;
}

.s3 {
  width: 320px;
  overflow-y: auto;
  height: 100%;
}

.grid,
main,
.s9,
.s3 {
  min-height: 0;
}